<!DOCTYPE html>
<html>
<head>
  <title>Shortened URL</title>
</head>
<body>
  <h2>Original URL: <%= fullUrl %></h2>
  <h2>Short URL: <a href="<%= shortUrl %>"><%= shortUrl %></a></h2>
  <a href="/">Shorten another</a>
</body>
</html>
